*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    overflow: hidden;
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    background-color: crimson;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: larger;
    border: none;
    z-index: 5;
    position: relative;
}
button:active{
    scale: 0.95;
}